:root {
  --font-family: Montserrat;
  --small-font: 0.875rem;
  --font-weight: 700;
  --text-color: #252b42;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--small-font);
  font-family: var(--font-family, seriff);
  font-weight: var(--font-weight);
  color: var(--text-color);
}
a {
  text-decoration: none;
}